<div class="footer-container">
<div class="logo-container">
    M.
</div>
<div class="des-container">
    Web Developer with 8 years of experience in designing and developing user interfaces, testing, debugging, and training staff within eCommerce technologies. Proven ability in optimizing web functionality that improve data retrieval and workflow efficiencies.
</div>
<div class="footer-social-media-icon">
    <li>
        <fa-icon class="icon-color fa-2xl" [icon]="faFacebook"></fa-icon>
    </li>
    <li>
        <fa-icon class="icon-color fa-2xl " [icon]="faTwitter"></fa-icon>
    </li>
    <li>
        <fa-icon class="icon-color fa-2xl" [icon]="faInstagram"></fa-icon>
    </li>
    <li>
        <fa-icon class="icon-color fa-2xl" [icon]="faGithub"></fa-icon>
    </li>
    </div>
    <div class="copyright">
        &copy; All Right Reserved
    </div>
    
</div>

